*{
	#position:absolute;
	margin:0;
	padding:0;
	font-family: arial;
}
html{
	background-color: #61380B;
}
body{
	background-color: green;
	margin: 2em;
	border: 1em green solid;
	border-radius: 1em;
}
h1{
	text-align:center;
}
tr,td,th{
	border: 0.2em black solid;
	padding: 0.2em;
	text-align: center;
}
table{
	display: flex;
	justify-content: center;
	align-items: center;
}
.wuerfel{
	border: 0.2em black solid;
	padding: 0.2em;
	margin: 0.2em;
}
